.name {
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
}

.card-link a {
    text-decoration: none;
}

.card {
    width: 20rem;
}

.kaggle {
    width: 38px;
}

.banner {
    background-image: url("../images/banner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin-bottom: 50px;
}

.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
    font-size: 64px;
    font-weight: bold;
}

@media (min-width: 576px) {
    .navbar_center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }}